<?xml version="1.0"?>
<psalm
        autoloader="vendor/autoload.php"
        errorLevel="3"
        hideExternalErrors="true"
        useDocblockTypes="false"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="https://getpsalm.org/schema/config"
        xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src"/>
        <ignoreFiles>
            <directory name="doc"/>
            <directory name="tests"/>
            <directory name="vendor"/>
        </ignoreFiles>
    </projectFiles>
    <issueHandlers>
        <MissingOverrideAttribute errorLevel="suppress" />
        <PossiblyUnusedMethod errorLevel="suppress" />
        <UnusedClass errorLevel="suppress" />

        <PossiblyUnusedReturnValue>
            <errorLevel type="suppress">
                <file name="src/Message/Payload/Builder/MessagePayloadBuilderInterface.php" />
                <file name="src/Resource/ResourceCollectionInterface.php" />
            </errorLevel>
        </PossiblyUnusedReturnValue>
        
        <MissingTemplateParam>
            <errorLevel type="suppress">
                <file name="src/Resource/ResourceCollectionInterface.php" />
                <file name="src/Util/Collection/CollectionInterface.php" />
            </errorLevel>
        </MissingTemplateParam>
        
        <FalsableReturnStatement>
            <errorLevel type="suppress">
                <file name="src/Role/Type/CustomRole.php" />
            </errorLevel>
        </FalsableReturnStatement>
        
        <PossiblyFalseArgument>
            <errorLevel type="suppress">
                <file name="src/Security/Jwks/Exporter/Jwk/JwkRS256Exporter.php" />
            </errorLevel>
        </PossiblyFalseArgument>
        
        <PossiblyInvalidArrayAccess>
            <errorLevel type="suppress">
                <file name="src/Security/Jwks/Exporter/Jwk/JwkRS256Exporter.php" />
            </errorLevel>
        </PossiblyInvalidArrayAccess>
        
        <UnusedProperty>
            <errorLevel type="suppress">
                <file name="src/Security/Jwks/Fetcher/JwksFetcher.php" />
            </errorLevel>
        </UnusedProperty>
        
        <InternalClass>
            <errorLevel type="suppress">
                <file name="src/Security/Jwt/Signer/SignerFactory.php"/>
            </errorLevel>
        </InternalClass>
    </issueHandlers>
    <mockClasses>
        <class name="PHPUnit\Framework\MockObject\MockObject"/>
    </mockClasses>
    <plugins>
        <pluginClass class="Psalm\PhpUnitPlugin\Plugin"/>
    </plugins>
</psalm>
